<h2>New link <a href="/links">back</a></h2>
<p>
	Create a new link by specifying the two destination or target urls.
</p>
<form action='/links' id="new_link" method="POST">
<p>
	<label>Title</label>
     <input type="text" id="title" name="title" />
</p>
<p>
	<label>Description</label>
     <input type="text" id="description" name="description" />
</p>
<p>
	<label>Target</label>
     <input type="text" id="target_1" name="target_1" />
</p>
<p>
	<label>Target</label>
     <input type="text" id="target_2" name="target_2" />
</p>
<p>
     <input type="submit" value="Add"/>
</p>
 </form>